*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("resources/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.marvel-map{
    transform: translateY(-51px) skewX(-1deg) translateX(-4px);
    border-radius: 3px;
}
